// ---------------------------------------------------------

.header {
  background: var(--color-white);
  box-shadow: 0 3px 10px var(--color-blueprint-light);
  max-height: var(--global-header-mobile-height);
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: max-height 400ms ease-out;
  width: 100%;
  z-index: var(--z-index-plus-three);

  @include media($full-navigation) {
    max-height: fit-content;
    overflow: visible;
    position: static;
  }

  &.navigation_is_showing {
    @include media($full-navigation, down) {
      height: 100vh;
      max-height: 10000px;
      overflow: scroll;
      transition: max-height 400ms ease-in;
    }
  }

  > div {
    @include media($full-navigation) {
      @include container-header;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

// --------------------------------------------------------- | logo

.logo_container {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  transition: background-color 460ms ease-in;

  @include media($full-navigation, down) {
    @include container-header;

    height: var(--global-header-mobile-height);
    position: fixed;
    width: 100%;
  }

  @include media($full-navigation) {
    flex-grow: 1;
  }

  .navigation_is_showing & {
    @include media($full-navigation, down) {
      background-color: var(--color-blueprint-light);
      transition: background-color 460ms ease-out;
    }
  }
}

.logo {
  svg {
    width: 30px;

    @include media($full-navigation) {
      width: 50px;
    }
  }
}

// --------------------------------------------------------- | smaller screen buttons

.menu_button {
  color: var(--color-blueprint);

  @include media($full-navigation) {
    display: none;
  }

  span {
    @include screen-reader-only;
  }

  svg {
    height: 35px;
  }
}

// --------------------------------------------------------- | navigation

.navigation_container {
  background-color: var(--color-blueprint-lighter);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
  padding: calc(var(--global-header-mobile-height) + 12px) 20px 140px;

  @include media($full-navigation) {
    background-color: transparent;
    height: auto;
    overflow: visible;
    padding: 0;
  }
}

.main_navigation_container,
.top_navigation_container {
  @include media($full-navigation) {
    justify-content: flex-end;
  }
}

.main_navigation_container {
  flex-wrap: wrap;

  li {
    @include media($full-navigation, down) {
      width: 100%;
    }
  }
}

.top_navigation_container {
  flex-direction: column;
  order: 2;

  @include media($full-navigation) {
    flex-direction: row;
    order: unset;
  }

  a {
    display: block;
    font-size: 14px;
    padding: 10px 0;

    @include media($full-navigation) {
      padding: 12px;
    }
  }

  li:last-of-type {
    a {
      @include media($full-navigation) {
        padding-right: 0;
      }
    }
  }
}
