@use '../../styles/global' as *;

// ---------------------------------------------------------

.header {
  background: var(--color-blueprint-pale);
  max-height: var(--global-header-mobile-height);
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: max-height 400ms ease-out;
  width: 100%;
  z-index: var(--z-index-plus-three);

  &.navigation_is_showing {
    @include media($full-navigation, down) {
      height: 100vh;
      max-height: 10000px;
      overflow: scroll;
      transition: max-height 400ms ease-in;
    }
  }
}

// --------------------------------------------------------- | logo

.logo_container {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  transition: background-color 460ms ease-in;

  @include media($full-navigation, down) {
    @include container-header;

    height: var(--global-header-mobile-height);
    position: fixed;
    width: 100%;
  }

  .navigation_is_showing & {
    @include media($full-navigation, down) {
      background-color: var(--color-blueprint-soft);
      transition: background-color 460ms ease-out;
    }
  }
}

.logo {
  svg {
    width: 30px;
  }
}

// --------------------------------------------------------- | smaller screen buttons

.menu_button {
  color: var(--color-blueprint-alpha-80);

  span {
    @include screen-reader-only;
  }

  svg {
    height: 35px;
  }
}

// --------------------------------------------------------- | navigation

.navigation_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  padding: calc(var(--global-header-mobile-height) + 12px) 20px 140px;
}

.main_navigation,
.top_navigation {
  @include media($full-navigation) {
    justify-content: flex-end;
  }
}

.main_navigation {
  flex-wrap: wrap;

  li {
    @include media($full-navigation, down) {
      width: 100%;
    }
  }
}

.top_navigation {
  flex-direction: column;
  order: 2;

  a {
    display: block;
    font-size: 14px;
    padding: 10px 0;
  }
}
