// --------------------------------------------------------

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// --------------------------------------------------------

$font-size-base: 16px;

// --------------------------------------------------------

$font-fallback: system-ui;

// --------------------------------------------------------

$font-family-base: $font-fallback;
$font-family-headings: $font-fallback;

// --------------------------------------------------------

// Create variables for the different font weight variations

$font-weight-regular: 400;
$font-weight-bold: 700;
