@use 'media' as *;

$global-padding: 20px;
$global-max-width: $large-lowest;
$full-navigation: $medium;

// ---------------------------------------------------------

@mixin container {
  margin-left: auto;
  margin-right: auto;
  max-width: $global-max-width;
  padding-left: $global-padding;
  padding-right: $global-padding;
}

// ---------------------------------------------------------

@mixin screen-reader-only {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
