{
  "bracketSpacing": true,
  "endOfLine": "lf",
  "semi": false,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}
