@use '../../styles/global' as *;

// ---------------------------------------------------------

@mixin default-button {
  background-color: var(--color-blueprint);
  border: 1px solid var(--color-blueprint);
  border-radius: 3px;
  color: var(--color-white);
  display: inline-block;
  font-weight: var(--font-weight-semibold);
  padding: 15px 24px 17px;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;

  @include hover {
    background-color: var(--color-blueprint-alpha-80);
    text-decoration: none;
  }
}

// ---------------------------------------------------------

.button {
  @include default-button;
}

// --------------------------------------------------------- / themes

.theme {
  &_outline {
    background-color: var(--color-white);
    border-color: var(--color-blueprint);
    color: var(--color-blueprint);

    @include hover {
      background-color: var(--color-blueprint-soft);
    }
  }
}
