@use '../../../../styles/global' as *;

.dropdown {
  display: flex;
  flex-direction: column;

  @include media($full-navigation) {
    background-color: transparent;
    margin-right: 12px;
    position: relative;
    transition: background-color 0ms ease-out 0.5s;
  }

  &:focus {
    outline: 0;
  }

  &.is_showing {
    @include media($full-navigation) {
      background-color: var(--color-blueprint-grayish-light);
      transition: background-color 0.3s ease-in;
    }
  }
}

// --------------------------------------------------------- // Trigger

.dropdown_trigger {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  padding: 18px 0 19px;

  @include media($full-navigation) {
    padding: 11px 12px 16.5px;
  }

  svg {
    height: 20px;
    margin-left: 6px;
    transition: transform 200ms ease-in-out;
    width: 20px;
  }

  &::after {
    background-color: var(--color-blueprint);
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    position: relative;
    top: 10px;
    transition: width 400ms ease-in-out;
    width: 0%;
  }

  .is_showing & {
    &::after {
      @include media($full-navigation) {
        width: 100%;
      }
    }

    svg {
      transform: rotate(-180deg);
    }
  }
}

// --------------------------------------------------------- // Menu

.dropdown_menu {
  max-height: 0;
  overflow: hidden;
  padding-left: 22px;
  transition: max-height 500ms ease-in;

  @include media($full-navigation) {
    background-color: var(--color-blueprint-grayish-light);
    left: 0;
    min-width: 300px;
    padding-left: 0;
    position: absolute;
    top: 48px;
    width: 100%;
    z-index: var(--z-index-plus-two);
  }

  .is_showing & {
    max-height: 1000px;
    transition: max-height 500ms ease-out;

    @include media($full-navigation) {
      max-height: 600px;
      transition: max-height 0.5s ease-in 0.2s;
    }
  }

  li {
    &:last-of-type {
      margin-bottom: 12px;
    }
  }
}
