@use '../../styles/global' as *;

$gutter: 20px;
$margin-bottom: 30px;

// -------------------------------------------------------- | Grid mixins

@mixin grid($media-query, $two-up: true) {
  @include media($media-query) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -$margin-bottom;
  }

  @if $two-up {
    > * {
      @include media($media-query) {
        width: calc(50% - 14px);
      }
    }
  }
}

@mixin grid-item-width($width) {
  > * {
    width: calc(#{$width} - #{$gutter});
  }
}

// -------------------------------------------------------- | Grid

.grid {
  display: flex;
  flex-direction: column;
  width: 100%;

  > * {
    margin-bottom: $margin-bottom;
    width: 100%;
  }

  // -------------------------------------------------------- | Grid item width

  &.layout_is {
    &_one_fourth {
      @include grid($small-lowest);

      @include media($medium-lowest) {
        @include grid-item-width(25%);
      }
    }

    &_one_third {
      @include grid($small-lowest);

      @include media($small-highest) {
        @include grid-item-width(33.333%);
      }
    }

    &_one_half {
      @include grid($small-lowest, false);

      @include media($small) {
        @include grid-item-width(50%);
      }
    }
  }
}

// -------------------------------------------------------- | Align Content

.alignment {
  &_center {
    > * {
      align-self: center;
    }
  }

  &_bottom {
    > * {
      align-self: center;
    }
  }
}
