// Color palette -- All color variables should start with color-
// ---------------------------------------------------

$color: (
  '--color-black': #000,
  '--color-blueprint': #0065f2,
  '--color-blueprint-bright': #408cf6,
  '--color-blueprint-soft': #5a9af4,
  '--color-blueprint-grayish-light': #e6f1fc,
  '--color-blueprint-pale-very': #f2f8ff,
  '--color-white': #fff
);
