// Font variables -- All variables should start with font-
// ---------------------------------------------------

$font: (
  '--font-fallback': system-ui,
  '--font-family-base': (
    'Open Sans',
    var(--font-fallback)
  ),
  '--font-family-headings': (
    'Open Sans',
    var(--font-fallback)
  ),
  '--font-size-base': 16px,
  '--font-weight-bold': 700,
  '--font-weight-regular': 400,
  '--font-weight-semibold': 600
);
