$column-gutter: 40px;

// --------------------------------------------------------

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px + $column-gutter;

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -($column-gutter / 2);
    margin-right: -($column-gutter / 2);
    width: 100%;
  }
}
