$column-gutter: 40px;

.column {
  margin-left: $column-gutter / 2;
  margin-right: $column-gutter / 2;
  width: 100%;

  &.col_width_one_fourth {
    width: calc(25% - #{$column-gutter});
  }

  &.col_width_one_third {
    width: calc(33.333% - #{$column-gutter});
  }

  &.col_width_one_half {
    width: calc(50% - #{$column-gutter});
  }

  &.col_width_two_thirds {
    width: calc(66.666% - #{$column-gutter});
  }

  &.col_width_three_fourths {
    width: calc(75% - #{$column-gutter});
  }
}
