$column-gutter: 40px;

.column {
  margin-left: $column-gutter / 2;
  margin-right: $column-gutter / 2;
  width: 100%;

  &[class='col_width_1\4'] {
    width: calc(25% - #{$column-gutter});
  }

  &[class='col_width_1\3'] {
    width: calc(33.333% - #{$column-gutter});
  }

  &[class='col_width_1\2'] {
    width: calc(50% - #{$column-gutter});
  }

  &[class='col_width_2\3'] {
    width: calc(66.666% - #{$column-gutter});
  }

  &[class='col_width_3\4'] {
    width: calc(75% - #{$column-gutter});
  }
}
