@use 'global/variables';
@use 'global' as *;

// --------------------------------------------------------

body {
  @include font-smoothing;

  color: var(--global-text-color);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: 1;
}

// --------------------------------------------------------

main {
  $padding: 40px;

  padding-bottom: $padding;
  padding-top: $padding;

  @include media($full-navigation, down) {
    padding-top: calc(var(--global-header-mobile-height) + #{$padding});
  }
}

// --------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  margin: 0 0 20px;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

// --------------------------------------------------------

a {
  text-decoration: none;

  @include hover {
    text-decoration: underline;
  }
}

p {
  margin-bottom: 20px;
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

strong {
  font-weight: 700;
}

// ---------------------------------------------------------

button {
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0;
}

// --------------------------------------------------------

img {
  max-width: 100%;
}
