@use 'global/variables';

// --------------------------------------------------------

body {
  @include font-smoothing;

  color: var(--global-text-color);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: 1;
}

// --------------------------------------------------------

main {
  @include container;

  padding-bottom: rfs(40px);
  padding-top: rfs(40px);
}

// --------------------------------------------------------

@include headings {
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-bold);
  margin: 0 0 20px;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

// --------------------------------------------------------

a {
  text-decoration: none;

  @include hover {
    text-decoration: underline;
  }
}

// --------------------------------------------------------

p,
ul {
  @include p;

  margin-bottom: 20px;
}

p + ul {
  margin-top: rfs(-10px);
}

ul {
  padding-left: 30px;

  li {
    margin-bottom: 10px;
  }
}

// --------------------------------------------------------

strong {
  font-weight: 700;
}

// ---------------------------------------------------------

button {
  @include reset-button;
}

// --------------------------------------------------------

img {
  max-width: 100%;
}
