.card {
  font-size: 15px;
  line-height: 1.6;

  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
  }
}

// --------------------------------------------------------- | text alignment

.text_alignment {
  &_center {
    text-align: center;
  }
}

// --------------------------------------------------------- | themes

.theme {
  &_graphic,
  &_image {
    .card_image {
      margin-bottom: 20px;
    }
  }

  &_graphic {
    .card_image {
      max-width: 60px;
    }
  }
}
