@use '../../styles/global' as *;

.card {
  font-size: 15px;
  line-height: 1.6;

  h3 {
    font-size: 18px;
    margin-bottom: 6px;
  }

  p {
    margin-bottom: 20px;
  }
}

// --------------------------------------------------------- | text alignment

.text_alignment {
  &_center {
    text-align: center;
  }
}

// --------------------------------------------------------- | themes

.theme_1 {
  background-color: var(--color-blueprint);
}

.theme_2 {
  background-color: var(--color-blueprint-bright);
}
