.sb-show-main {
  padding: 0 !important;
}

h2#stories {
  margin-bottom: 30px !important;
}

[href='/?path=/settings/about'] {
  display: none !important;
}

.docs-story {
  background-color: rgba(0, 0, 0, 0.2);
}
