@use 'support' as *;

// ---------------------------------------------------------

@mixin h1 {
  font-size: rfs(54px);
}

@mixin h2 {
  font-size: rfs(40px);
}

@mixin h3 {
  font-size: 32px;
}

@mixin h4 {
  font-size: 24px;
}

@mixin h5 {
  font-size: 18px;
}

// ---------------------------------------------------------

@mixin a {
  color: var(--color-blueprint);

  @include hover {
    color: var(--color-blueprint-soft);
  }
}
