// ---------------------------------------------------------

$font-size: 14px;
$icon-size: $font-size - 2px;
$margin: 8px;

// ---------------------------------------------------------

.breadcrumbs {
  @include reset-list;

  align-items: center;
  display: flex;
  font-size: $font-size;

  li {
    align-items: center;
    display: flex;

    &:not(:last-of-type) {
      &::after {
        content: attr(data-separator);
        display: inline-block;
        font-size: $icon-size;
        margin: 0 $margin;
      }

      &.icon_only {
        &::after {
          margin-left: 0;
        }
      }
    }
  }

  .crumb {
    @include a;

    align-items: center;
    display: flex;
    font-style: normal;

    @include hover {
      text-decoration: none;
    }
  }

  svg {
    height: $icon-size;
    margin-right: $margin;
  }
}
