@use '../../styles/global' as *;

.footer {
  background-color: var(--color-blueprint-alpha-20);
  padding: 30px 0;

  @include media($x-small) {
    padding: 80px 0;
  }

  &_container {
    @include container;

    > div {
      &:first-of-type {
        @include media($x-small) {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

// -------------------------------------------------------- / logo

.logo {
  margin-bottom: 30px;
  min-width: 40px;
  width: 40px;

  @include media($x-small) {
    margin-right: 30px;
  }
}

// -------------------------------------------------------- / menus

.menus {
  @include media($x-small) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    max-width: 800px;
    width: 100%;
  }
}

.menu {
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 60px;
  }

  @include media($x-small) {
    width: calc(50% - 15px);
  }

  @include media($small-lowest) {
    width: calc(33% - 15px);
  }

  @include media($small-highest) {
    width: calc(25% - 15px);
  }

  strong {
    display: block;
    margin-bottom: 10px;
  }

  a {
    color: var(--color-blueprint);
    display: block;
    line-height: 1.3;
    padding: 8px 0;
  }
}

// -------------------------------------------------------- / policy and copyright

.policy_links,
.copyright {
  font-size: 12px;
  justify-content: center;
  text-align: center;
}

.policy_links {
  flex-direction: row;
  margin-bottom: 4px;

  a {
    color: var(--color-blueprint);
    display: inline-block;
    line-height: 1.3;
    padding: 0 8px 8px;
  }

  li {
    &::after {
      content: '|';
      display: inline-block;
    }

    &:last-of-type {
      &::after {
        display: none;
      }
    }
  }
}

.copyright {
  display: block;
}
