@use '../../../styles/global' as *;

.navigation {
  @include reset-list;

  display: flex;

  a {
    display: inline-block;

    @include hover {
      text-decoration: none;
    }
  }

  li {
    margin-bottom: 0;
  }
}

// --------------------------------------------------------

// .nav_button {
//   //
// }
